<html>
    <head>
        <title>
            Login Page
        </title>
        <link rel="stylesheet" href="{{ url_for ('static', filename='style.css') }}">
    </head>
    <body>
        <form>
            <label for="username">Username: </label>
            <input type="text" id="username" value="jrynlzlcdn">
            <label for="password">Password: </label>
            <input type="password" id="password" value="password">
            <input type="submit" name="login" value="LOGIN">
        </form>
        <button>REGISTER</button>
    </body>
</html>